@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
