@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', ui-sans-serif, system-ui;
  --font-cal-sans: 'Cal Sans', ui-sans-serif, system-ui;

  --color-background: #f0f0f0;
  --color-background-secondary: #dcdcdc;
  --color-primary: #131313;
  --color-secondary: #5c5c5c;
  --color-accent: #353535;

  --color-orange: #ff4d00;
}

body {
  @apply text-secondary bg-background-secondary font-inter text-sm;
}

/* 
:root {
  font-family: var(--font-sans);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.box-title {
  @apply absolute -top-20 left-1/2 -translate-x-1/2;
}

.text-title {
  @apply font-cal-sans to-secondary/35 -z-10 bg-gradient-to-t from-transparent bg-clip-text text-8xl text-transparent;
}
